/* GLOBAL */

/*jaune: #FEB41C*/
/*gris-main:#363F45*/
/*light-blue:#5E7C88*/
/*light-blue-opac: rgba(94, 124, 136, 1);*/

img {
	max-width: 100%;
	height: auto;
	display: block;
}

body {
	font-family: 'Roboto';
	color:#363F45;
}

a:hover{
	text-decoration: none;
}  

/* BUTTONS */

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/* HEADER */

/* menu */

.navbar-default {
	background-color: #fff;
}
.navbar-brand {
	padding: 0;
	margin-top: 1px;
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
}
.navbar-brand img {
	max-height: 50px;
}

.navbar-default .navbar-nav>li>a {
	overflow: hidden;
	border: 0px solid transparent;
	position: relative;
}

.navbar-default .navbar-nav>li>a:hover {
	color:#fff;
	outline-width: 0;
	transition: .3s;
}

.navbar-default .navbar-nav > li > a:before{
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent #FEB41C;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
} 
.navbar-default .navbar-nav > li > a:hover:after{
	border-width: 80px 263.5px;
	transition: .8s
}

.navbar-default .navbar-nav > li > a:after {
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent #FEB41C transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.navbar-default .navbar-nav > li > a:hover:before{
	border-width: 80px 263.5px;
	transition: .7s;
}

/* homeSlider */

.homeSlider .slide {
	height: 670px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/bg-project.jpg);
}

.homeSlider .content {
	padding: 60px;
	width: 720px;
	margin: 120px auto 0 auto;
	background-color: rgba(255,255,255,.92);
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
}

.homeSlider .content strong {
	font-weight: 500;
} 

.homeSlider .content a {
	display: block;
	margin: 25px auto 0 auto;
	width: 180px;
	height: 50px;
	line-height: 50px;
	color:#fff;
	background-color: #FEB41C;
	font-size: 18px;
	font-weight: bold;
}
.homeSlider .content a:hover {
	
} 

.homeSlider .slick-arrow {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: #fff;
	top: 50%;
	transform:translateY(-50%);
	z-index: 11;
	border:none;
	box-shadow: none;
	font-weight: bold;
	font-size: 40px;
	line-height: 74px;
	border:1px solid #363F45;
	outline: none;
} 

.homeSlider .slick-arrow:hover{
	color: #fff;
	border-color: #FEB41C;
	background-color: #FEB41C;
} 

.homeSlider .slick-prev {
	left:50px;
	padding-right: 9px;
} 
.homeSlider .slick-next {
	right: 50px;
	padding-left: 9px;
}

.slick-dots li:last:child{
	display: none;
} 

.catSlider .slick-slide {
    height: 452px !important;
    overflow: hidden !important;
}

/* catSlider */

.dots-container{
	text-align: right;
} 

.dots-container h4 {
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 21px;
	padding-bottom: 4px;
	border-bottom:1px solid #FEB41C;
} 

.dots-container > i {
	display: inline-block;
	color:#FEB41C;
	font-size: 16px;
	margin-right: 12px;
} 

.dots-container ul  {
	list-style-type: none;
}

.dots-container a {
	color:#363F45;
	font-weight: 300;
	position: relative;
	display: block;
	padding: 3px 15px;
}
.dots-container a:hover{
	cursor: pointer;
} 

.dots-container li {
	position: relative;
}

.dots-container li:after {
	display: block;
	content: '';
	right: -15px;
	height: 100%;
	bottom: 0;
	width: 1px;
	background-color: rgba(94, 124, 136, .2);
	position: absolute;
} 

.dots-container li.active:after {
	background-color: #FEB41C;
	width: 15px;
}

.dots-container li.active {
	font-weight: bold;
	background-color: #FEB41C;
	color:#fff;
}
.dots-container li.active a{
	font-weight: bold;
	color:#fff;
}
.dots-container li.active:hover a {
	text-decoration: none;
	cursor: default;	
}

.catSlider-wrapper{
	padding-top: 40px;
} 

.catSliderContent {
	margin-top: 52px;
	padding:0px 45px 15px 30px;
}

.catSliderContent h5 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 7px;
	margin-top: 0;
}
.catSliderContent h5 span {
	display: inline-block;
	padding-bottom: 4px;
	border-bottom: 1px solid #FEB41C;
} 

.catSliderContent .author {
	font-size: 15px;
	margin-bottom: 25px;
} 
.catSliderContent .author i {
	margin: 0 2px 0 5px;
}

.catSliderContent .img-project{
	height: 265px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
} 

.catSliderContent .link-cat {
	display: inline-block !important;
	text-align: right;
	float: right;
	font-size: 15px;
	display: block;
	color:#363F45;
	line-height: 34px;
}
.catSliderContent .link-cat strong {
	text-transform: uppercase;
	position: relative;
}
.catSliderContent .link-cat strong:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	bottom: -3px;
	background-color: #5E7C88;
	left: 0;
}

.catSliderContent .desc {
	line-height: 25px;
	font-weight: 300;
	letter-spacing: 1px;
    height: 210px;
}

.catSliderContent .prog {
	height: 55px;
	padding: 20px 0px;
}

.catSliderContent .prog .amount {
	height: 15px;
	border-radius: 8px;
	background-color: #5E7C88;
	position: relative;
	color:#fff;
	overflow: hidden;
	text-align: center;
} 

.catSliderContent .prog .amount .currentAmount {
	position: absolute;
	left: 0;
	top: 0;
	height: 15px;
	border-radius: 8px;
	background-color: #FEB41C;
	color:#fff;
	z-index: 10;
}

.catSliderContent .prog .amount span {
	position: relative;
	z-index: 20;
	display: block;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
}

.catSliderContent .stats {
	padding-top: 25px;
	text-align: center;
} 

.catSliderContent .stats i {
	margin-right: 4px;
	color: #FEB41C;
} 

.catSliderContent .stats a {
	display: block;
	margin: 0 auto;
	background-color: #FEB41C;
	color:#fff;
	width: 80%;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	border-radius: 7px;
}

/* latests projects */

.last-projects .img-project {
	height: 160px;
	position: relative;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.last-projects .img-project span.catName {
	position: absolute;
	left: 0;
	top:0;
	height: 30px;
	min-width: 100px;
	padding: 0 15px;
	text-align: center;
	display: block;
	color:#fff;
	background-color: #FEB41C;
	line-height: 30px;
	font-size: 12px;
}
.last-projects .img-project span.catName i{
	margin-right:6px;
} 

.titre-last-projects h4 {
	display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px
}

.titre-last-projects{
	padding-top: 25px;
} 

.titre-last-projects h4 i {
	display: inline-block;
    color: #FEB41C;
    font-size: 16px;
    margin-right: 12px
}
.titre-last-projects h4 span {
	display: inline-block;
	padding-bottom: 4px;
	border-bottom: 1px solid #FEB41C;
} 

.last-projects .desc-project h6 {
	text-align: center;
	margin-bottom: 15px;
}
.last-projects .desc-project h6 span{
	font-size: 17px;
	padding-bottom: 4px;
	border-bottom: 1px solid #FEB41C;
	text-align: center;
	font-weight: 400;
}
.last-projects .desc-project .author {
	font-size: 13px;
	text-align:center;
	margin-bottom: 20px;
} 
.last-projects .desc-project p {
	padding: 0px 15px 0px 15px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 0;
	height: 80px;
}

.last-projects .prog {
	height: 55px;
	padding: 20px 15px;
}

.last-projects .prog .amount {
	height: 15px;
	border-radius: 8px;
	background-color: #5E7C88;
	position: relative;
	color:#fff;
	overflow: hidden;
	text-align: center;
} 

.last-projects .prog .amount .currentAmount {
	position: absolute;
	left: 0;
	top: 0;
	height: 15px;
	border-radius: 8px;
	background-color: #FEB41C;
	color:#fff;
	z-index: 10;
}

.last-projects .prog .amount span {
	position: relative;
	z-index: 20;
	display: block;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
} 

.last-projects .shadow {
	box-shadow: 5px 5px 15px rgba(94, 124, 136, .3);
	margin-bottom: 30px;
} 

/* CATEGORY */
.category h2 {
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.category h2 span {
	padding-bottom: 4px;
	border-bottom: 1px solid #FEB41C;
}

.category .rowtop .img-project {
	height: 480px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.category .rowtop {
	margin-bottom: 50px;
}

.category .rowtop .shadow {
	box-shadow: 5px 5px 15px rgba(94, 124, 136, .3);
	height: 480px;
}

.category .rowtop h4 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 19px;
	margin-top: 20px;
}

.category .rowtop h4 span {
	border-bottom: 1px solid #FEB41C;
	padding-bottom: 2px;
}

.category .rowtop h4 i {
	margin-right: 7px;
	color: #FEB41C;
}

.category .rowtop .author {
	font-size: 16px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.category .rowtop .author i {
	margin-right: 4px;
	margin-left: 4px;
}

.category .rowtop .desc {
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 25px;
	text-align: justify;
}

.category .rowtop .stats{
	text-align: center;
	padding-top: 40px;
}

.category .rowtop .stats i {
	color: #FEB41C;
	margin-right: 4px;
	font-weight: bold;
}

.category .last-projects .link a,
.category .rowtop .link a {
	background-color: #FEB41C;
	color:#fff;
	font-weight: 500;
	text-transform: uppercase;
	padding: 15px;
	display: block;
	margin: 0 auto;
	width: 160px;
	text-align: center;
	margin-top: 25px;
}

body .category .last-projects .link a{
	margin-top: 5px;
} 

.category .last-projects .link {
	padding-bottom: 15px;
}

/*circle*/
.c100.yellow {
  background-color: rgba(204, 204, 204, 1);
  font-size: 100px;
  margin: 0 auto;
  float: none;
}
.c100.yellow .bar,
.c100.yellow .fill {
  border-color: #FEB41C !important;
}
.c100.yellow > span {
  color: rgba(94, 124, 136, 1);
}
.c100.yellow:after {
  background-color: #fff;
}

/*select*/
.category div.cs-select {
	display: block;
	margin: 0 auto;
	border-bottom: 1px solid #FEB41C;
}
.cs-skin-underline .cs-options li span:hover {
	background-color: #FEB41C;
	color: #fff;
}
.cs-skin-underline ul li:last-child span::before {
	display: none;
}

body .category .last-projects .img-project {
	height: 230px;
}

/*ribon*/
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#FEB41C 0%, #FEB41C 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #FEB41C;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #FEB41C;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #FEB41C;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #FEB41C;
}

/* PROJECT DETAILS */

.project-details h1 {
	font-size: 24px;
}

.project-details h1 span {
	padding-bottom: 4px;
	border-bottom: 1px solid #FEB41C;
} 

.project-details .author {
	font-size: 18px;
	margin-bottom: 40px;
}
.project-details .author i {
	margin-right: 4px;
} 

.project-details .stats {
	text-align: center;
	margin-bottom: 5px;
}

.project-details .stats i {
	margin-right: 4px;
	color: #FEB41C;
}

.project-details .prog {
	height: 55px;
	padding: 20px 0px;
}

.project-details .prog .amount {
	height: 15px;
	border-radius: 8px;
	background-color: #5E7C88;
	position: relative;
	color:#fff;
	overflow: hidden;
	text-align: center;
} 

.project-details .prog .amount .currentAmount {
	position: absolute;
	left: 0;
	top: 0;
	height: 15px;
	border-radius: 8px;
	background-color: #FEB41C;
	color:#fff;
	z-index: 10;
}

.project-details .prog .amount span {
	position: relative;
	z-index: 20;
	display: block;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
}

.project-details .link a {
    display: block;
    margin: 0 auto;
    background-color: #FEB41C;
    color: #fff;
    width: 80%;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 7px;
}

.project-details .visuel {
	padding-top: 15px;
}

.project-details h4 {
	text-align: right;
	font-size: 22px;
	font-weight: 500;
	padding-bottom: 20px;
}

.project-details h4 span {
	padding-bottom: 4px;
	border-bottom: 1px solid #FEB41C;
}

.project-details p {
	text-align: right;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 300;
}

.project-details .img-project {
	height: 350px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.project-details .onglets {
	margin-top: 35px;
	margin-left: 0;
	margin-right: 0;
}

.project-details .onglets .nav {
	border-bottom: none;
	padding-bottom: 35px;
}

.project-details .onglets li {
	padding-left: 0;
	padding-right: 0;
	border-right:1px solid rgba(94, 124, 136, .2);
	border-top: 1px solid rgba(94, 124, 136, .2);
	margin-bottom: 0;
}

.project-details .onglets li:last-child {
	border:none;
	border-top: 1px solid rgba(94, 124, 136, .2);
}

.project-details .onglets li.active {
	border:none;
	border-top: 1px solid #FEB41C;
}

.project-details .onglets li a {
	border-radius: 0;
	text-align: center;
	border:none;
	margin-right: 0;
	text-transform: uppercase;
	color: #363F45;
}

.project-details .onglets li a i {
	margin-right: 4px;
}

.project-details .onglets li:last-child a i {
	font-size: 20px;
	margin: 0 15px;
}

.project-details .onglets li.active a {
	background-color: #FEB41C;
	color:#fff;
	border: none;
}
.project-details .onglets li.active a:hover {
	border: none;
}

.project-details .onglets h4 {
	text-align: center;
}

.project-details .onglets .desc {
	padding: 40px 0;
	font-weight: 300;
	border-bottom: 1px solid #FEB41C;
	text-align: justify;
	line-height: 23px;
}

/* CREATE PROJET */
.daterangepicker .calendar {
	display: none !important;
}


